---
---
@import '../_sass/bootstrap';
@import '../_sass/syntax-highlighting';


$scotch-primary: #dc3e3e;
$scotch-secondary: #FF7B7B;

@font-face {
    font-family: "Evia";
    src: url(../fonts/evia.ttf);
}


%sans { font-family: 'Dejavu Sans', sans-serif; }
%roboto { font-family: 'Roboto Condensed', sans-serif; }
%evia {font-family: "Evia"; }

body {
    @extend %roboto;
    font-size: 18px;
    line-height: 30px;
    padding-top: 51px;
    -webkit-font-smoothing: antialiased;
}
p {
    margin-bottom: 30px;
}
section, header, footer, main, article, nav, aside { position: relative; }
a {
    outline: none !important;
    text-decoration: none !important;
    transition: all 225ms ease;
    color: $scotch-secondary;

    &:hover { color: #dc3e3e; }
}
.btn {
    text-transform: uppercase;
    font-weight: 400;
    @extend %sans;
}
h1, h2, h3, h4, h5, h6 { @extend %sans; }
::selection {
    background: #086AFF;
    color: #fff;
}

nav.navbar {
    margin: 0;

    a {
        text-transform: uppercase;
        font-size: 16px;
    }

    .navbar-brand {
        text-transform: none;
        @extend %evia;
        color: #dc3e3e;

        &:hover {
            color: #db3d3d;
            transform: scale(1.1);
        }
    }
}
.title-group {
    text-align: center;
    padding: 0 15px;
    margin: 50px 0 100px;

    p {
        max-width: 800px;
        margin: 25px auto 0;
    }
}
h1.special {
    position: relative;
    text-align: center;
    overflow: hidden;
    margin: 0;
    text-transform: uppercase;
    @extend %sans;
    font-size: 69px;
    line-height: 69px;
    font-weight: 700;
    color: $scotch-primary;

    span {
        display: inline-block;
        position: relative;
        padding: 0 15px;
        max-width: 1000px;

        &:before, &:after {
            content: '';
            position: absolute;
            display: block;
            height: 1px;
            background: #e8e8e8;
            width: 99999999px;
            top: 50%;
            transform: translateY(-50%);
        }

        &:before { left: 100%; }
        &:after { right: 100%; }
    }
}
//
// .tile {
//     position: relative;
//     box-shadow: 0 0.15em 0.35em 0 rgba(0, 0, 0, 0.135);
//     margin-bottom: 125px;
//
//     .inner-guts { padding: 50px; }
//
//     h2 {
//         margin: 0;
//         font-size: 100px;
//         font-weight: 400;
//         letter-spacing: -0.05em;
//         line-height: 100px;
//     }
//
//     .featurette {
//         position: relative;
//         display: block;
//         overflow: hidden;
//         margin-bottom: 15px;
//         width: 100%;
//         height: 550px;
//         background-color: #e8e8e8;
//
//         .img {
//             background-size: cover;
//             background-position: 50% 0;
//             background-repeat: no-repeat;
//             position: absolute;
//             display: block;
//             top: 0;
//             left: 0;
//             width: 100%;
//             height: 100%;
//             transition: all 225ms ease;
//             transform: scale(1);
//
//             &:before {
//                 position: absolute;
//                 top: 0;
//                 left: 0;
//                 width: 100%;
//                 height: 100%;
//                 display: block;
//                 content: '';
//                 background: #000;
//                 opacity: 0.4;
//                 transition: all 225ms ease;
//             }
//         }
//
//         iframe {
//             position: absolute;
//             display: block;
//             top: 0;
//             left: 0;
//             width: 100%;
//             height: 100%;
//         }
//
//         &:hover {
//             .img {
//                 transform: scale(1.2);
//
//                 &:before {
//                     opacity: 0.2;
//                 }
//             }
//         }
//     }
//
//     .excerpt {
//         font-size: 35px;
//         font-weight: 300;
//         line-height: 49px;
//         color: #484848;
//
//         p {
//             margin: 0;
//         }
//     }
//
//     .tags {
//         position: absolute;
//         left: 0;
//         top: 100%;
//         margin-top: 15px;
//
//         span {
//             padding: 1px 5px;
//             font-size: 12px;
//             line-height: 1.5;
//             text-transform: uppercase;
//             @extend %sans;
//         }
//     }
//
//     .read-more {
//         margin-top: 50px;
//         width: 100%;
//         max-width: 175px;
//         position: relative;
//         padding-right: 75px;
//
//         i {
//             position: absolute;
//             right: 15px;
//             top: 50%;
//             transform: translateY(-54%);
//             font-size: 31px;
//             line-height: 100%;
//         }
//     }
// }
//
// aside {
//     font-size: 17px;
//     color: #525252;
//     margin: 16px 0;
//     @extend %sans;
//
//     span {
//         text-transform: uppercase;
//         margin: 0 5px;
//     }
// }

.site-footer {
    margin-top: 200px;
}

.pagination-wrap {
    text-align: center;
}

.topper {
    height: 500px;
    position: relative;

    .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
    }
}

pre {
    margin: 75px -100px;
}


@media only screen and (max-width : 991px) {
    pre {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width : 480px) {
    .tile .featurette, .topper {
        height: 300px;
    }

    h1.special,
    .tile h2 {
        font-size: 40px;
        line-height: 44px;
    }

    .tile .inner-guts {
        padding: 15px 25px;
    }

    .tile .excerpt {
        font-size: 22px;
        line-height: 35px;
    }
}

.wpanda-drawer .mdl-layout-title {
    position: relative;
    background: #dc3e3e;
    height: 160px;
}

.banner {

    text-shadow: 1px 1px 5px #777;
    position: relative;
    padding-top: 12em;
    padding-bottom: 12em;
    color: #333;
    opacity: 0.99;
    text-align: center;

    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: url(../images/torres.jpg) no-repeat 50% 50%;
        background-size: cover;
        opacity: 0.5;
    }
    .banner-title {
        font-size: 4em;
        padding: 0px 10px;
    }
    .banner-subtitle{
        padding: 0px 10px;
    }
}

.features {
    padding-top: 5em;
    padding-bottom: 5em;

    h2, h4, p {
      padding: 0px 100px;
      text-align: center;
    }
    .img-responsive {
        width: 50%;
    }
}

.main{
    position: relative;
    color: #333;
    opacity: 0.99;
    text-align: center;
    padding: 10em 0px;

    .banner-title {
        @extend %evia;
        color: $scotch-primary;
        font-size: 4em;
        padding: 0px 10px;
        text-shadow: 1px 1px 5px #777;
    }
    .banner-subtitle{
        padding: 0px 10px;
    }
}

@media only screen and (max-width : 480px) {
   .main {
       .banner-title {
           font-size: 3em;
       }
   }

   .features {
        padding-top: 3em;
        padding-bottom: 3em;

        h2, h4, p {
        padding: 0px 20px;
        }
        .img-responsive {
            width: 80%;
        }
    }
}

.brands {
  svg {
    width: 50%;
    height: auto;
    path, polygon { fill: #444444; }
  }
  a {
    color: #222222;
    &:hover {
      color: #dc3e3e;
      path, polygon { fill: #dc3e3e; }
    }
  }
}
