[MASTER]
# List of plugins (as comma separated values of python modules names)
# that can be installed with pip
load-plugins = pylint.extensions.no_self_use

[TYPECHECK]
# List of members which are set dynamically and missed by pylint inference
# system, and so shouldn't trigger E1101 when accessed.
generated-members = pydantic.*

# List of decorators that produce context managers
contextmanager-decorators = contextlib.contextmanager

[MESSAGES CONTROL]
disable =
    line-too-long,
    too-few-public-methods,
    too-many-ancestors,
    too-many-arguments,
    too-many-branches,
    too-many-instance-attributes,
    too-many-lines,
    too-many-locals,
    too-many-nested-blocks,
    too-many-positional-arguments,
    too-many-public-methods,
    too-many-return-statements,
    too-many-statements
