---

layout: inner
title: Downloads
permalink: /downloads/

---
<p>
The binaries of the <a href={{site.data.downloads.release}}>latest release</a> of wiRED Panda are available for the following platforms:
</p>
<br><br>

<table class="brands">
  <tr>
    {% for item in site.data.downloads.links %}
    <td>
      <a href="{{ item.url }}">
        <center>
          {% if item.logo == "linux" %}
            {% include linux.svg %}
          {% elsif item.logo == "mac" %}
            {% include apple.svg %}
          {% else %}
            {% include windows.svg %}
          {% endif %}
          <br>
          {{ item.text }}
        </center>
      </a>
    </td>
    {% endfor %}
  </tr>
</table>
<br><br>
<p>
Please do note that the macOS version requires Qt to be installed, which you can achieve with `brew install qt`.
</p>

<p>If you wish to compile WiRed Panda for yourself, take a look at our <a href="https://github.com/GIBIS-UNIFESP/wiRedPanda/">GitHub repository</a> to view the build instructions.</p>
