---

layout: inner
title: Downloads
permalink: /downloads/

---
<p>
The binaries of the <a href={{site.data.downloads.release}}>latest release</a> of wiRED Panda are availble in the following platforms:
</p>
<br><br>

<table class="brands">
  <tr>
    {% for item in site.data.downloads.links %}
    <td>
      <a href="{{ item.url }}">
        <center>
          {% if item.logo == "linux" %}
            {% include linux.svg %}
          {% elsif item.logo == "ubuntu" %}
            {% include ubuntu.svg %}
          {% else %}
            {% include windows.svg %}
          {% endif %}
          <br>
          {{ item.text }}
        </center>
      </a>
    </td>
    {% endfor %}
  </tr>
</table>
<br><br>
<p>
wiRed Panda is also compatible with OSX and many linux distributions, but we don't have compiled versions availble for download. We are planning to release the OSX version in the following months, for now the software can be compiled on your own computer.
</p>

<h3> Building WiRED Panda on your computer: </h3>
<p>
 To compile this software you will need the <a href="http://www.qt.io/download-open-source/">Qt5.5 Development Environment</a> and the <a href={{site.data.downloads.source}}>source code</a> of the software.
</p>

<p>
To compile and install this software on linux, please use the following commands:
</p>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    {% highlight sh %}
    git clone https://github.com/GIBIS-UNIFESP/wiRedPanda/
    mkdir wiRedPanda/build
    cd wiRedPanda/build
    qmake ../WPanda.pro
    sudo make install
    {% endhighlight %}
  </div>
</div>
