---

layout: inner
title: Downloads
permalink: /downloads/

---
<p>
The binaries of the <a href={{site.data.downloads.release}}>latest release</a> of wiRED Panda are availble in the following platforms:
</p>
<br><br>

<table class="brands">
  <tr>
    {% for item in site.data.downloads.links %}
    <td>
      <a href="{{ item.url }}">
        <center>
          {% if item.logo == "linux" %}
            {% include linux.svg %}
          {% elsif item.logo == "ubuntu" %}
            {% include ubuntu.svg %}
          {% else %}
            {% include windows.svg %}
          {% endif %}
          <br>
          {{ item.text }}
        </center>
      </a>
    </td>
    {% endfor %}
  </tr>
</table>
<br><br>
<p>
wiRed Panda is also compatible with OSX and many linux distributions, but we don't have compiled versions availble for download. We are planning to release the OSX version in the following months, for now the software can be compiled on your own computer.
</p>

<p>Take a look in our <a href="https://github.com/GIBIS-UNIFESP/wiRedPanda/">Github Repository</a> to view the build instructions.</p>
