language: cpp
cache: apt
os:
  - linux
  - osx

env:
  - QT=qt55

branches:
  only:
    - 'master'

# before_install:
#   - export DISPLAY=:99.0
#   - sh -e /etc/init.d/xvfb start
before_install:
  - if [ "${TRAVIS_OS_NAME}" = "linux" ]; then
      sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
      && if [ "$QT" = "qt55" ]; then sudo add-apt-repository ppa:beineri/opt-qt551 -y; fi
      && sudo apt-get update -qq;
    else
      brew update > /dev/null;
    fi

install:
  - if [ "${TRAVIS_OS_NAME}" = "linux" ]; then
      if [ "$CXX" = "g++" ]; then sudo apt-get install -qq g++-4.8; fi
      && if [ "$CXX" = "g++" ]; then export CXX="g++-4.8" CC="gcc-4.8"; fi
      && if [ "$QT" = "qt55" ]; then sudo apt-get install -qq qt55base; source /opt/qt55/bin/qt55-env.sh; fi;
    else
      cd `brew --prefix`
      && brew install qt5
      && chmod -R 755 /usr/local/opt/qt5/*;
    fi

script:
  - if [ "${TRAVIS_OS_NAME}" = "linux" ]; then
      g++ -v
    else
      ls $QTDIR/bin;
      clang --version;
      QTDIR="/usr/local/opt/qt5"
      && PATH="$QTDIR/bin:$PATH"
      && LDFLAGS=-L$QTDIR/lib
      && CPPFLAGS=-I$QTDIR/include;
    fi
  - qmake -v
  - qmake ./app/app.pro
  - make -j4
