[Desktop Entry]
GenericName=wiRED Panda
Name=wiRED Panda
Comment=Learn about logic circuits in an easy and friendly way.
Exec=/bin/sh /usr/local/bin/wpanda.sh %f
Icon=wpanda
Type=Application
Categories=Utility;
Terminal=false
StartupNotify=false
MimeType=application/x-wpanda;
