[Desktop Entry]
Name=WiRED Panda
Comment=A good option to learn about Digital Circuits
Exec=/usr/bin/wpanda %f
Icon=wpanda
Type=Application
Categories=Science;
Terminal=false
