[Desktop Entry]
Type=Application
Name=WiRedPanda
GenericName=WiRedPanda
Comment=Learn about logic circuits in an easy and friendly way.
Icon=wpanda_icon
Exec=wpanda
Terminal=false
Categories=Science;
StartupNotify=false
MimeType=application/x-wpanda;
X-AppImage-Version=4.0.0
