[Desktop Entry]
Version=1.0
Type=Application
Name=wiRedPanda
GenericName=Logic Circuit Simulator
Comment=Learn about logic circuits in an easy and friendly way.
Keywords=logic;circuit;education;simulator;digital;
Icon=wpanda
Exec=wiredpanda %F
Terminal=false
Categories=Education;Electronics;
StartupNotify=false
StartupWMClass=wiredpanda
MimeType=application/x-wiredpanda;
X-AppImage-Version=@PROJECT_VERSION@
