[Desktop Entry]
GenericName=WiRedPanda
Name=WiRedPanda
Comment=Learn about logic circuits in an easy and friendly way.
Type=Application
Icon=wpanda
Categories=Science;
Terminal=false
StartupNotify=false
MimeType=application/x-wpanda;
