---
import Base from '../layouts/Base.astro';
---

<Base titlePage="404">
  <div class="content is-flex is-flex-direction-column is-align-items-center">
    <h1>Oops!</h1>
    <p>Looks like you came to the don't care part of the Karnaugh map, but don't worry! <br /> We've already simplified the process, just return to the main page and it'll be okay</p>
  </div>
</Base>
