---
import { Image } from "astro:assets";

import unifespLogo from '../images/unifesp_white.png';
import gibisLogo from '../images/gibis.webp';
---

<footer class="is-flex is-flex-direction-row is-justify-content-space-around is-align-items-center background-color">
  <a href="https://www.unifesp.br/" target="_blank">
    <Image src={unifespLogo} alt="Unifesp logo" width={120} />
  </a>
  <span>wiRedPanda Team &copy; { new Date().getFullYear() }</span>
  <a href="http://gibis.unifesp.br/" target="_blank">
    <Image src={gibisLogo} alt="GIBIS logo" width={90} />
  </a>
</footer>

<style>
footer {
  padding: 10px;
  box-shadow: 0px 5px 35px black;
  border-top: 3px inset #2DA6F4;
}

span {
  color: white;
}
</style>
