---
import { Image } from "astro:assets";

import unifespLogo from '../images/unifesp_white.png';
import gibisLogo from '../images/gibis.webp';
---

<footer>
  <a href="https://www.unifesp.br/" target="_blank">
    <Image src={unifespLogo} alt="Unifesp logo" width={120} />
  </a>
  <span>wiRedPanda Team &copy; { new Date().getFullYear() }</span>
  <a href="http://gibis.unifesp.br/" target="_blank">
    <Image src={gibisLogo} alt="GIBIS logo" width={90} />
  </a>
</footer>

<style>

footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 20vh;
  background-color: var(--blue-8);
}

span {
  font-size: var(--font-size-3);
}

</style>
