# Copyright 2015 - 2024, GIBIS-Unifesp and the WiRedPanda contributors
# SPDX-License-Identifier: GPL-3.0-or-later

name: Build

on: [push]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        qt_version: [5.12.12, 5.13.2, 5.14.2, 5.15.2, 6.2.4, 6.3.2, 6.4.3, 6.5.3, 6.6.3, 6.7.2]

# =================================

    runs-on: ${{ matrix.os }}
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name


    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Install Qt5
      if: startsWith(matrix.qt_version, '5')
      uses: jurplel/install-qt-action@v3
      with:
        version: ${{ matrix.qt_version }}
        cache: true
        aqtversion: ==3.1.*

    - name: Install Qt6
      if: startsWith(matrix.qt_version, '6')
      uses: jurplel/install-qt-action@v3
      with:
        version: ${{ matrix.qt_version }}
        modules: qtmultimedia
        cache: true
        aqtversion: ==3.1.*

    - name: ccache
      uses: hendrikmuhs/ccache-action@v1.2
      with:
        key: ${{ matrix.os }}

# =================================

    - name: Build Ubuntu
      if: runner.os == 'Linux'
      run: |
        sudo apt install libgstreamer-gl1.0-0
        mkdir build
        cd build
        qmake ../WPanda.pro
        make -j2

    - name: Test Ubuntu
      if: runner.os == 'Linux'
      run: |
        cd build/test
        ./WPanda-test -platform offscreen

# =================================

    - name: Setup MSVC Toolchain
      if: runner.os == 'Windows'
      uses: pbeast/gha-setup-vsdevenv@master

    - name: Build Windows
      if: runner.os == 'Windows'
      run: |
        choco install jom
        mkdir build
        cd build
        qmake ../WPanda.pro
        jom

    - name: Test Windows
      if: runner.os == 'Windows'
      run: |
        cd build
        jom check

# =================================
# https://bugreports.qt.io/browse/QTBUG-117225

    - name: Build macOS
      if: runner.os == 'macOS'
      run: |
        mkdir build
        cd build
        qmake ../WPanda.pro -early QMAKE_DEFAULT_LIBDIRS=$(xcrun -show-sdk-path)/usr/lib
        make -j3

    - name: Test macOS
      if: runner.os == 'macOS'
      run: |
        cd build
        make check
