name: Build

on: [push]

env:
  BUILD_TYPE: MinSizeRel

jobs:

# === Ubuntu 16.04 ===
  ubuntu-16:
    runs-on: ubuntu-16.04

    steps:
    - uses: actions/checkout@v2
      with: 
        submodules: recursive
        fetch-depth: 0

    - name: Install Qt5
      run: |
        sudo apt-get update
        sudo apt-get install build-essential libgl1-mesa-dev libxkbcommon-x11-0 libpulse-dev -y
        python3 -m pip install setuptools wheel
        python3 -m pip install py7zr==0.10.1
        python3 -m pip install aqtinstall==0.9.7
        python3 -m pip install importlib-metadata==2.0.0
        python3 -m aqt install 5.15.1 linux desktop -m qtcharts qtmultimedia -O /home/runner/work/wiredpanda-testing/Qt
        ls -li /home/runner/work/wiredpanda-testing/Qt
        ls -li /home/runner/work/wiredpanda-testing/Qt/5.15.1
        ls -li /home/runner/work/wiredpanda-testing/Qt/5.15.1/gcc_64
        ls -li /home/runner/work/wiredpanda-testing/Qt/5.15.1/gcc_64/bin
        export Qt5_Dir=/home/runner/work/wiredpanda-testing/Qt/5.15.1
        export Qt5_DIR=/home/runner/work/wiredpanda-testing/Qt/5.15.1
        export QT_PLUGIN_PATH=/home/runner/work/wiredpanda-testing/Qt/5.15.1/gcc_64/plugins
        PATH=/home/runner/work/wiredpanda-testing/Qt/5.15.1/gcc_64/bin:$PATH
        export PATH
    - name: Install AppImage dependencies
      run: |
        sudo apt-get install libgstreamer-plugins-base1.0-0 libgstreamer-plugins-base1.0-dev 
        sudo apt-get install libxcb-icccm4 libxcb-image0 libxcb-keysyms1 libxcb-render-util0-dev libxcb-render-util0 libxcb-xinerama0
    - name: Get linuxdeployqt
      run: |
        wget "https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage" -P ~/
        chmod +x ~/linuxdeployqt-continuous-x86_64.AppImage
    - name: Build
      run: |
        PATH=/home/runner/work/wiredpanda-testing/Qt/5.15.1/gcc_64/bin:$PATH
        export PATH
        mkdir build
        cd build
        qmake ../WPanda.pro
        make -j8
    - name: Deploy
      uses: actions/upload-artifact@v2
      with:
        name: 'wiredpanda-ubuntu16.04-glibc'
        path: build/app/wpanda

    - name: Make WiredPanda AppImage
      run: |
        PATH=/home/runner/work/wiredpanda-testing/Qt/5.15.1/gcc_64/bin:$PATH
        export PATH
        cp installer/Linux/portable_files/wpanda.desktop build/app/wpanda.desktop
        cp app/resources/wpanda.png build/app/wpanda.png
        ~/linuxdeployqt-continuous-x86_64.AppImage build/app/wpanda -appimage 
    - name: Upload WiredPanda AppImage
      uses: actions/upload-artifact@v2
      with:
        name: WiredPanda Linux (64-bit) AppImage
        path: wiRED_Panda*.AppImage



# === Ubuntu 18.04 ===
  ubuntu-18:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
      with: 
        submodules: recursive
        fetch-depth: 0

    - name: Install Qt5
      uses: jurplel/install-qt-action@v2
      with:
        version: 5.15.1
        modules: qtcharts qtmultimedia

    - name: Build
      run: |
        mkdir build
        cd build
        qmake ../WPanda.pro
        make -j8
    - name: Deploy
      uses: actions/upload-artifact@v2
      with:
        name: 'wiredpanda-ubuntu18.04-glibc'
        path: build/app/wpanda

# === Windows 10 ===
  windows:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
      with: 
        submodules: recursive
        fetch-depth: 0

    - name: Set up Git for properly handling symlinks on Windows
      run: git config --global core.symlinks true

    - name: Install Qt
      uses: jurplel/install-qt-action@v2
      with:
        arch: win64_mingw81
        version: 5.15.0
        modules: qtcharts qtmultimedia

    - name: Build
      run: |
        mkdir build
        cd build
        qmake ../WPanda.pro
        make -j8
    - name: Deploy WiredPanda binary
      run : |
        cd build\app\release
        windeployqt --compiler-runtime wpanda.exe
        del *.o
        del *.cpp
        cp $env:Qt5_Dir\bin\libgcc_s_seh-1.dll .
        cp $env:Qt5_Dir\bin\libstdc++-6.dll .
        cp $env:Qt5_Dir\bin\libwinpthread-1.dll .
        cd ..
        ren release wpanda
    - name: Upload WiredPanda build
      continue-on-error: true
      uses: actions/upload-artifact@v2
      with:
        name: WiredPanda Windows (64-bit) build
        path: build\app\wpanda\

# === MacOS 10.15 ===
  macos:
    runs-on: macos-10.15

    steps:
    - uses: actions/checkout@v2
      with: 
        submodules: recursive
        fetch-depth: 0

    - name: Install
      run: brew install qt gdb

    - name: Build
      run: |
        QTDIR="/usr/local/opt/qt/" && PATH="${QTDIR}/bin:$PATH" && LDFLAGS=-L${QTDIR}/lib && CPPFLAGS=-I${QTDIR}/include;
        mkdir build
        cd build
        qmake ../WPanda.pro
        make -j8
    - name: Deploy
      uses: actions/upload-artifact@v2
      with:
        name: 'wiredpanda-macos-10_15'
        path: build/app/wpanda.app/Contents/MacOS/wpanda

